@page
@model FuturionNewsfeed.Pages.News.DeleteModel

@{
    ViewData["Title"] = "Hír törlése";
}

<h2>Törlés</h2>

<h3>Biztosan törölni akarod ezt a hírt?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsItem.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsItem.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsItem.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsItem.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsItem.CreationDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsItem.CreationDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsItem.CreatorUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsItem.CreatorUsername)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsItem.Id" />
        <input type="submit" value="Törlés" class="btn btn-default" /> |
        <a asp-page="./Index">Vissza a hírfolyamhoz</a>
    </form>
</div>
